{% extends "base.html.twig" %}

{% block pageTitle %}{% trans %}Manage Offers{% endtrans %}{% endblock %}

{% block body %}
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{% trans %}Manage Offers{% endtrans %}</h3>
                </div>
                <div class="card-body">
                    <div class="container-fluid mb-3">
                        <div class="text-right">
                            <a href="{{ path('app_offer_add') }}" class="btn btn-primary">{% trans %}New Offer{% endtrans %}</a>
                        </div>
                    </div>

                    <table class="table table-sm table-bordered table-striped table-hover offer--index--table-offers">
                        <thead>
                        <tr>
                            <th>{% trans %}No.{% endtrans %}</th>
                            <th>{% trans %}Date{% endtrans %}</th>
                            <th>{% trans %}Company{% endtrans %}</th>
                            <th>{% trans %}Customer{% endtrans %}</th>
                            <th>{% trans %}Subject{% endtrans %}</th>
                            <th>{% trans %}Total Price{% endtrans %}</th>
                            <th>{% trans %}Actions{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>{% trans %}No.{% endtrans %}</th>
                            <th>{% trans %}Date{% endtrans %}</th>
                            <th>{% trans %}Company{% endtrans %}</th>
                            <th>{% trans %}Customer{% endtrans %}</th>
                            <th>{% trans %}Subject{% endtrans %}</th>
                            <th>{% trans %}Total Price{% endtrans %}</th>
                            <th>{% trans %}Actions{% endtrans %}</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
