{% extends "base.html.twig" %}

{% block pageTitle %}Manage VAT Rates{% endblock %}

{% block body %}
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Manage VAT Rates</h3>
                </div>
                <div class="card-body">
                    <div class="container-fluid mb-3">
                        <div class="text-right">
                            <a href="{{ path('app_vatrate_add') }}" class="btn btn-primary">Add VAT Rate</a>
                        </div>
                    </div>

                    <table class="table table-sm table-bordered table-striped table-hover vat-rate--index--table-vat-rates">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Rate</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Rate</th>
                            <th>Actions</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
