{% extends "base.html.twig" %}

{% block pageTitle %}Dashboard{% endblock %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-12">
            </div>
        </div>
    </section>
{% endblock %}
